name: Build Executable Artifacts

on: workflow_dispatch

jobs:
  build:
    name: Build Executables
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [linux, windows]
        arch: [amd64, arm64]

    steps:
      - name: Check out code (no-tts branch for non-Windows)
        uses: actions/checkout@v4
        if: matrix.os != 'windows'
        with:
          ref: no-tts

      - name: Check out code (default branch for Windows)
        uses: actions/checkout@v4
        if: matrix.os == 'windows'

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.0"

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Build Executable
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
        run: |
          # Determine the file extension based on the OS
          EXT=""
          if [ "${{ matrix.os }}" = "windows" ]; then EXT=".exe"; fi
          # Build the executable with the correct extension
          go build -o "BibleTUI-${{ matrix.os }}-${{ matrix.arch }}${EXT}" .

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: BibleTUI-${{ matrix.os }}-${{ matrix.arch }}
          path: BibleTUI-${{ matrix.os }}-${{ matrix.arch }}